.input {
  width: 500px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.inputItem {
  width: 200px;
  padding: 10px;
  background-color: rgb(207, 209, 208);
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}
.enterdList {
  list-style: none;
}
